  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}
a{
	text-decoration: none;
}
.center{
	max-width: 1140px;
	margin: 0 auto;
}
span{
	color: #F16D7F;
}
li{
	list-style: none;
}

/* ========================== home ========================== */

.home-page{
	margin: 0 0 65px 0;
	width: 100%;
	background-color: #F1E4E6;
}
.home-page-wrp{
	margin: 0 auto;
	background-image: url('../img/man-header-bgr.png');
	background-repeat: no-repeat;
	background-position: -230px;
	background-size: contain;
	min-height: 764px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.header-wrp{
	background-color: #222222;
}
.header{
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.header-logo{
	width: 111px;
	height: 38px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.search{
	fill: #fff;
}
.header-menu{
	display: flex;
	gap: 25px;
	align-items: center;	
}
.header-menu-list:last-child{
	padding-left: 17px ;
}
.header-menu-list svg{
	width: 32px;
	height: 29px;
}
.header-menu-list a{
	fill: #fff;
}
.header-menu-list a:hover{
	fill: #F16D7F;
}
.header-menu-list a:active{
	opacity: 0.7;
}
.menu-cart{
	position: relative;
}
.menu-cart span{
	color:#ffffff;
	width: 19px;
	height: 19px;
	background-color: #F16D7F;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -20px;
	left: 24px;
}
.the-brand{
	text-transform: uppercase;
	color: #222222;
	position: relative;
	margin: 281px 96px 381px 0;
}
.the-brand-title{
	font-weight: 900;
	font-size: 48px;
	line-height: 58px;
}
.the-brand-subtitle{
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
}
.the-brand::before{
	content: "";
	display: block;
	width: 12px;
	height: 92px;
	background-color: #F16D7F;
	position: absolute;
	top: -1px;
	left: -28px;
}
/* ========================== end home ========================== */

/* ============================= offer ========================== */

.offer-wrp{
	margin: 0 0 96px 0;
}
.offer-content-cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: left;
	gap: 30px;
	color: #fff;
}
.offer-content-card-item{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 260px; 
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	text-transform: uppercase;	
	background-color: rgba(33, 22, 22, 0.7);
	background-blend-mode: darken;
	background-repeat: no-repeat;
	background-position: center;
}
.women{
	background-image: url(../img/offer-whomen.png);
}
.men{
	background-image: url(../img/offer-men.png);
}
.kids{
	background-image: url(../img/offer-kids.png);
}
.accessories{
	grid-column-start: 1;
	grid-column-end: 4;
	height: 180px;
	background-image: url(../img/offer-accessories.png);
}
.offer-content-card-item:hover{
	background-blend-mode: overlay;
}
.offer-content-card-item h4{
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #F16D7F;
}
/* ============================= end offer ========================== */


/* ============================= products ========================= */
.products-content{
	margin: 0 auto 60px auto;
}
.products-header{
	text-align: center;
}
.products-title{
	padding-bottom: 8px;
	font-size: 30px;
	line-height: 36px;
	color: #222222;
}
.products-subtitle{
	font-size: 14px;
	line-height: 17px;
	color: #9F9F9F;
	margin: 0 0 48px 0;
}
.products-cards{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}
.product-card-items{
	display: block;
	max-width: 360px;
	position: relative;
	background: #F8F8F8;
	text-decoration: none;
	box-sizing: border-box;
}
.product-card-items:hover .product-card-overlay {
	display: flex
}
.product-card-items:hover .product-card-overlay:hover {
	background-color: #ccc;
	color: #000;
	border: 1px solid #000;
}
.product-card-items:hover .product-card-overlay:active {
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
}
.product-card-items:hover .product-card-overlay:active svg {
	fill: #fff;
}
.product-card-items:hover .product-card-image-wrp:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(58, 56, 56, 0.86);
	position: absolute;
	top: 0;
	left: 0;
}
.product-card-image-wrp {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #F7E4E2;
	box-sizing: border-box;
	position: relative;
}
.product-card-image {
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
}
.product-card-overlay {
	display: none;
	justify-content: center;
	align-items: center;
	width: 160px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #FFFFFF;
	background: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	position: absolute;
	top: 30%;
	left: calc(50% - 80px);
}
.product-card-overlay svg {
	fill: #fff;
	margin: 0 11px 0 0;
}
.product-card-overlay:hover svg {
	fill: #000000;
}
.product-card-overlay:hover {
	background-color: #fff;
	border: 2px solid #000;
	color: #000;
}
.product-card-image-wrp:nth-child(2){
	background-color: #F7E4E2;
}
.product-card-title{
	padding: 24px 0 0 18px;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
}
.product-card-txt{
	display: block;
	padding: 12px 18px 0 ;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5D5D5D;
}
.product-card-price{
	padding: 12px 0 20px 18px;
	font-size: 16px;
	line-height: 19px;
	color: #F16D7F;
}
.products-button{
	margin: 48px auto 0;
	padding: 15px 0 15px;
	text-align: center;
	width: 212px;
	border: 1px solid #ff6a6a;
	font-size: 16px;
	color: #F26376;
}
.products-button:hover{
	background-color: rgb(241, 109, 127, 0.2);
	color: #ffffff;
	border-color: #F1E4E6;
}
/* ============================= end products ========================= */

/* =========================== futured ====================== */
.future-wrp{
	width: 100%;
	min-height: 341px;
	background-color: #222224;
	padding: 0 0 64px 0;
}
.futures{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	text-align: center;
	color:#FBFBFB
}
.futured-items{
	margin: 104px 0 0 0;
	max-width: 360px;
}
.futured-items svg{
	margin: 0 0 25px 0;
	fill:#F16D7F;
}
.futured-items-title{
	margin: 0 0 16px 0;
	font-size: 20px;
	line-height: 24px;
	color: #FBFBFB;
}
.futured-items-txt{
	padding: 0 25px 0 25px;
	max-width: 360px;
	font-weight: 300;
	font-size: 13.972px;
	line-height: 17px;
}
/* ============================= end futured ======================= */

/* =================================== subscribe ==================== */
.subscribe-wrp{
	min-height: 448px;
	width: 100%;
	background-image: url(../img/subscribe-bgr.png);
	background-color:rgba(244, 244, 244, 0.7);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	background-blend-mode:lighten;

}
.user-subscribe{
	padding: 0 8px 0 8px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.user-expirience{
	margin: 97px 0 0 0;
	max-width: 360px;
	text-align: center;
	font-style: italic;
	font-size: 20px;
	line-height: 24px;
	color: #222224;
}
.user-expirience img{
	display: block;
	width: 98px;
	height: 98px;
	margin: 0 auto 30px auto;
}
.subscribe{
	max-width: 356px;
	margin: 150px 0 0 0;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #222224;
}
.subscribe-header{
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
}
form {
	margin: 32px 0 0 0;
	display: flex;
	justify-content: space-between;
	min-height: 49px;
	max-width: 356px;
}
input[type="email"] {
	max-width: 256px;
	width: 100%;
	padding: 7px 10px 6px 23px;
	box-sizing: border-box;
	background-color: #E1E1E1;
	border: none;
	border-radius: 20px 0 0 20px;
}
input[type="email"]::placeholder {
	color: #8B8B8C;
}
.subscribe-button {
	display: block;
	max-width: 100px;
	width: 100%;
	padding: 7px 20px 6px 21px;
	box-sizing: border-box;
	border: none;
	border-radius: 0 20px 20px 0;
	background-color: #F16D7F;
	color: #fff;
}
.subscribe-button:hover {
	background-color: #fff;
	color: #F16D7F;
	cursor: pointer;
}
.subscribe-button:active {
	background-color: #F16D7F;
	color: #fff;
}
/* ===================================== end subscribe ================== */

/* ===================================== footer ========================= */
.footer-wrp{
	width: 100%;
	min-height: 79px;
	background-color: #222224;
	color: #F8F8F8;
}
.footer{
	padding: 24px 0 23px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.social{
	display: flex;
	justify-content: space-between;
	gap: 7px;
	align-items: center;
}
.social-icons{
	display: block;
	width: 32px;
	height: 32px;
	background-color: #ffffff;
}
.social-icons svg{
	width: 22px;
	height:22px;
	padding: calc(50% - 11px);
}
.social-icons:hover svg{
	background-color: #F16D7F;
	fill: #ffffff;
}
.social-icons:active svg{
	background-color: #f35252;
	fill: #ffffff;
}
/* ===================================== @media ============================ */

@media (max-width: 1182px){
	.header-wrp{
		padding: 0 32px 0 32px;
	}
	.footer{
		padding: 24px 32px 23px 32px;
	}
}

@media (max-width: 1155px){
	.offer-wrp{
		padding: 0 16px 0 16px;
	}
}

@media (max-width: 1124px){
	.the-brand{
		margin: 281px 33px 381px 0;
	}
}
@media (max-width: 1097px){
	.futures{
		justify-content: center;
	}
	.futured-items{
		margin: 48px 0 0 0;
	}

}
@media (max-width: 860px){
	.home-page-wrp{
		min-height: 367px;
		background-position: 0;
	}
	.header-menu-list:last-child{
		padding: 0 8px 0 17px ;
	}
	.the-brand{
		margin: 138px 85px 137px 0;
	}
	.the-brand-title{
		font-size: 44px;
		line-height: 53px;
	}
	.the-brand-subtitle{
		font-size: 24px;
		line-height: 29px;
	}
	.products-cards{
		gap:16px;
	}
	.offer-wrp{
		margin: 0 0 110px 0;
	}
	.products-subtitle{
		margin: 0 0 72px 0;
	}
	.products-button{
		margin: 32px auto 0;
	}
}

@media (max-width: 768px){
	.the-brand{
			margin: 138px 33px 137px 0;
		}
		.user-subscribe{
			padding: 0 0 140px;
			justify-content: center;
		}
		.user-expirience{
			margin: 64px 0 0 0;
		}
		.subscribe{
			margin: 48px 0 0 0;
		}
	}

@media (max-width:655px ){
		.home-page-wrp{
			background-position: -90px;}
	}

@media(max-width: 567px){
		.home-page-wrp{
			height: 375px;
			background: none;
		}
		.the-brand{
			margin: 0 auto;
		}
		.the-brand-title{
			font-size: 38px;
			line-height: 45px;
		}
		.the-brand-subtitle{
			font-size: 20px;
			line-height: 24px;
		}
		.the-brand::before{
			width: 12px;
			height: 61px;
			top: 4px;
			left: -23px;
		}
		.offer-wrp{
			margin: 0 0 64px 0;
		}
		.offer-content-cards{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.offer-content-card-item{
			min-width: 300px;
		}
		.footer{
			padding: 0;
			flex-direction: column-reverse;
		}
		.social-icons{
			margin: 43px 0 40px 0;
		}
		.copyright{
			margin: 0 0 9px 0;
		}
}
@media(max-width: 440px){
		.header-wrp{
			padding: 0 15px 0 15px;
		}
		.header-menu{
			gap: 0;
			align-items: flex-end ;
		}
		.menu-hamb{
			margin: 0 -25px 0 0;
		}
		.menu-cart{
			display: none;
		}
		.menu-user{
			display: none;
		}
		
	}
@media(max-width: 375px){
		.product-card-items{
			display: block;
			max-width: 300px;
		}
		.product-card-image {
			max-width: 300px;
			margin: 0 auto;
			box-sizing: border-box;
		}
	}